@use "base"; // Import base with the namespace

.sidebar {
  background-color: base.$color-primary; // Correctly reference the variable
  // Sidebar section width goes from the sidebar-start to the sidebar-end
  // Columns - Place the sidebar from sidebar-start to sidebar-end
  grid-column: sidebar-start / sidebar-end;
  // Sidebar section height goes down the full height of the page
  // Rows - Place the sidebar from the first row to the last row
  grid-row: 1 / -1;
  // grid-area: sidebar-start / 1 / sidebar-end / -1; // Alternative way to write the above two lines

  // Use flexbox to center the content
  display: flex;
  justify-content: center; // Center the content along the main axis (horizontally)

  // Media query for large screens to move the sidebar to the top of the grid
  @media only screen and (max-width: base.$bp-large) {
    grid-area: 1 / full-start / span 1 / full-end;

    justify-content: flex-end;
    align-items: center;
  }
}

// Make a hamburger button. The button is the middle line and the pseudo-elements are the top and bottom lines
// Use extend to create a placeholder called nav-button
%nav-button {
  background-color: base.$color-white;
  height: 2px;
  width: 4.5rem;
}

.nav-btn {
  border: none;
  border-radius: 0;
  margin-top: 4rem;
  @extend %nav-button;

  &::before,
  &::after {
    @extend %nav-button;
    content: ""; // Required for pseudo-elements
    display: block; // Required for pseudo-elements
  }

  &::before { transform: translateY(-1.5rem); } // Move the before pseudo-element up
  &::after { transform: translateY(1.3rem); } // Move the after pseudo-element down

  // Media query for large screens to move the sidebar to the top of the grid
  @media only screen and (max-width: base.$bp-large) {
    margin: 0 3rem 0 0; // Move the margin from the top to the right

    &::before { transform: translateY(-1.2rem); } // Move the before pseudo-element up
    &::after { transform: translateY(1rem); } // Move the after pseudo-element down
  }
}
